.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: $spacing-large;

  @media only screen and (max-width: $bp-medium) {
    padding: $spacing-medium;
  }
}

// PRODUCT CARD
.product-card {
  display: flex;
  gap: 1rem;
  border: 1.5px solid rgb(209, 209, 209);
  border-radius: 0.8rem;
  padding: $spacing-medium;
  max-width: 343px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  @media only screen and (max-width: $bp-small) {
    max-width: 100%;
    padding: $spacing-small;
    gap: 0.5rem;
  }
  @media only screen and (max-width: 300px) {
    flex-direction: column;
    max-width: 100%;
    padding: $spacing-xsmall;
    gap: 0.3rem;
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-0.2rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }

  &__image {
    object-fit: contain;
    width: 120px;
    height: 120px;

    @media only screen and (max-width: $bp-smallest) {
      width: 90px; // Smaller image for mobile
      height: 90px;
    }
  }

  // PRODUCT CONTENT
  &__content {
    display: flex;
    flex-direction: column;
  }

  &__brand {
    color: $color-brand;
    font-size: $font-size-small;
    font-weight: 600;

    @media only screen and (max-width: $bp-smallest) {
      font-size: 10px;
    }
  }

  &__title {
    color: $color-text;
    font-size: $font-size-regular;
    font-weight: 600;
    margin-bottom: $spacing-small;

    @media only screen and (max-width: $bp-smallest) {
      font-size: 12px;
      margin-bottom: $spacing-xsmall;
    }
  }

  //Price

  &__price-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    line-height: 22px;
    gap: 0.5rem;

    @media only screen and (max-width: $bp-smallest) {
      gap: 0.3rem;
      line-height: 14px;
    }

    &__new {
      flex-direction: row-reverse;
    }
  }

  &__price-label {
    color: $color-text;
    font-size: $font-size-small;
    font-weight: 400;

    @media only screen and (max-width: $bp-smallest) {
      font-size: 10px;
    }

    &--new {
      color: $color-new-price;
      font-weight: 600;
    }
  }

  &__price-amount {
    font-size: $font-size-large;
    font-weight: 600;

    @media only screen and (max-width: $bp-smallest) {
      font-size: 18px;
    }

    &--new {
      color: $color-new-price;
    }

    &--used {
      color: $color-text;
    }
  }
}
