// VARIABLE STYLE

// COLOR VARIABLES
$color-text: #333;
$color-brand: #696969;
$color-new-price: #BF0000;

$font-size-small: 12px;
$font-size-regular: 14px;
$font-size-large: 20px;

$spacing-xsmall: 4px;
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;

// FONT VARIABLES
$font-primary: "Poppins", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px